/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#backgroundimage {
  background-image: url('https://mrwallpaper.com/images/hd/dungeons-and-dragons-forest-village-byzz77un3imzaghl.jpg');
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  padding: 0;
}

#headertitle {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#macros-list {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.macro-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 15px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  /* Ensure the entire item is clickable */
}

.macro-item .macro-header {
  margin: 0;
  display: inline-block;
  /* Only take up as much space as the text */
  cursor: text;
}

.macro-item .macro-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0;
  box-sizing: border-box;
}

.macro-item .macro-details.open {
  max-height: 500px;
  padding: 10px;
}

.macro-item .macro-section,
.macro-item .macro-section2 {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  /* Ensure gray area extends the full width */
  box-sizing: border-box;
  margin-top: 20px;
}

.macro-item .macro-section p,
.macro-item .macro-section2 p,
.macro-item .macro-details p,
.macro-item .macro-details strong,
.macro-item .macro-code-content,
.macro-item .macro-critical-code-content {
  margin: 0;
  display: inline;
  /* Only take up as much space as the text */
}

/* Ensure no cursor change for description */
.macro-item .macro-section h4,
.macro-item .macro-section p,
.macro-item .macro-section2 h4,
.macro-item .macro-section2 p {
  cursor: default;
}

.default-cursor-area {
  cursor: default;
}

#settings-bar {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  position: relative;
}

#search-input {
  flex: 1;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
  max-height: 200px;
  overflow-y: auto;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu.show {
  display: block;
}

.dropdown:hover .btn-secondary,
.btn-secondary.show {
  background-color: #5a6268;
  color: white;
}

.copy-btn {
  cursor: pointer;
  color: #007bff;
  font-size: 1.2em;
  margin-left: 10px;
}

.copy-btn:hover {
  color: #0056b3;
}

.notification {
  position: fixed;
  bottom: -50px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: none;
}

.notification.show {
  display: block;
  animation: jumpInOut 2s ease-in-out forwards;
}

@keyframes jumpInOut {
  0% {
    bottom: -50px;
    opacity: 0;
  }

  10% {
    bottom: 20px;
    opacity: 1;
  }

  90% {
    bottom: 20px;
    opacity: 1;
  }

  100% {
    bottom: -50px;
    opacity: 0;
  }
}

/* Media Query for Small Viewports */
@media (max-width: 768px) {
  #settings-bar {
    flex-direction: column;
    align-items: stretch;
  }

  #search-input,
  #category-btn,
  #clear-categories-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  #clear-categories-btn {
    margin-bottom: 0;
  }
}

footer {
  background-color: #e0e0e0;
  padding: 10px 0;
  text-align: center;
  color: #6c757d;
  width: 100%;
}

.macro-details h4,
.macro-details p {
  cursor: text;
}

#description-wrapper{
  background-color: crimson;
  margin-top: 20px;
}