body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#backgroundimage {
  background-image: url(backgroundimage.jpg);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  padding: 0;
}

#headertitle {
  background-color: hwb(0 15% 85% / 0.8);
  padding: 10px 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top */
  justify-content: flex-start; /* Ensure content is pushed to the top */
  flex: 1;
  padding-bottom: 100px; /* Space for the footer */
  background-color: hsl(0, 0%, 7%);
  color: white;
}

h1 {
  text-align: center;
  width: 100%; /* Ensure the header takes the full width */
  padding: 20px 0px;
  color: white;
}

footer {
  background-color: hsl(0, 0%, 7%);
  padding: 10px 0;
  text-align: center;
  color: white;
  width: 100%;
}

#settings-bar {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  position: relative; /* Ensure it's relative to contain the absolute positioning */
}

#search-input-wrapper {
  position: relative;
  flex: 1; /* Allow the wrapper to take up available space */
}

/* Search input styling */
#search-input {
  width: 100%; /* Ensure the input takes up the full width of the wrapper */
  padding-right: 30px; /* Space for the clear button */
  background-color: hsl(0, 0%, 11%); /* Background color */
  color: #ffffff; /* Text color */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-width: 1px;
  border-color: #121212;
  font-size: 1rem; /* Font size */
}

#search-input::selection {
  background: hsl(107, 100%, 27%); /* Background color of the selected text */
  color: #fff; /* Text color of the selected text */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    box-shadow: inset 0 0 20px 20px hsl(0, 0%, 11%);
}

#search-input::placeholder {
  color: hsl(0, 0%, 35%); /* Placeholder text color */
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none; /* Initially hidden */
  color: hsl(107, 100%, 27%);
}

#selected-categories {
  margin-bottom: 10px;
  width: 100%; /* Ensure it takes the full width */
  text-align: center; /* Center the text */
}

#category-btn {
  position: relative;
  white-space: nowrap;
  background-color: hsl(107, 100%, 27%);
  border: 0px;
  box-sizing: border-box;
}

#category-btn:hover {
  background-color: hsl(107, 100%, 31%);
  box-sizing: border-box;
}

#clear-categories-btn{
  background-color: hsl(165, 100%, 27%);
  border: 0px;
}

#clear-categories-btn:hover{
  background-color: hsl(165, 100%, 31%);
}

#category-dropdown {
  display: none; /* Hide by default */
  position: absolute; /* Position absolutely relative to the button */
  top: 100%; /* Position it directly below the button */
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
  padding: 10px;
  border: 0px solid;
  width: auto; /* Adjust width based on content */
  white-space: nowrap; /* Prevent text wrapping */
  max-height: none; /* Remove maximum height constraint */
  overflow-y: visible; /* Ensure there is no vertical scrollbar */
  background-color: hsl(107, 100%, 27%);
  box-sizing: border-box;
}

/* Dropdown item styling */
#bootstrapoverride .dropdown-item {
  --bs-dropdown-link-hover-bg: 0;
  color: #ffffff; /* Default text color for dropdown items */
  transition: background-color 0.3s, color 0.3s;
}

/* Dropdown item hover styling */
#bootstrapoverride .dropdown-item:hover {
  background-color: hsl(107, 100%, 31%);
}

#bootstrapoverride .dropdown-item.active {
  background-color: hsl(107, 100%, 35%); /* Background color for active items */
}

/* Dropdown header styling */
#bootstrapoverride .dropdown-header {
  font-weight: bold;
  color: #ffffff; /* Text color for dropdown headers */
  background-color: hsl(107, 100%, 27%); /* Background color for dropdown headers */
  margin: 8px 0px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

#category-btn.dropdown-open {
  border-bottom-left-radius: 0; /* Remove bottom left corner */
  border-bottom-right-radius: 0; /* Remove bottom right corner */
}

#category-btn.dropdown-open + #category-dropdown {
  border-top-left-radius: 0; /* Remove top left corner */
  border-top-right-radius: 0; /* Remove top right corner */
}

#macros-list {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.macro-item {
  background-color: hsl(0, 0%, 11%);
  margin-bottom: 10px;
  padding: 15px 20px;
  border-radius: 15px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer; /* Ensure the entire item is clickable */
}

.macro-item .macro-header {
  margin: 0;
  display: inline-block; /* Only take up as much space as the text */
  cursor: text;
}

.macro-item .macro-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0;
  box-sizing: border-box;
}

.macro-item .macro-details.open {
  max-height: 500px;
}

.macro-item .macro-section,
.macro-item .macro-section2 {
  background-color: hsl(0, 0%, 15%);
  padding: 10px;
  border-radius: 5px;
  width: 100%; /* Ensure gray area extends the full width */
  box-sizing: border-box;
  margin-top: 20px;
  cursor: default;
}

.macro-item .macro-section p,
.macro-item .macro-section2 p,
.macro-item .macro-details p,
.macro-item .macro-details strong,
.macro-item .macro-code-content,
.macro-item .macro-critical-code-content {
  margin: 0;
  display: inline; /* Only take up as much space as the text */
}

.macro-item .macro-section h4,
.macro-item .macro-section p,
.macro-item .macro-section2 h4,
.macro-item .macro-section2 p {
  cursor: text;
  padding: 0px 10px;
}

.macro-details h4,
.macro-details p {
  cursor: text;
}

#description-wrapper {
  display: inline-block; /* Ensures the wrapper only takes up as much width as necessary */
  padding: 10px; /* Optional: Add padding for better visual appearance */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  margin-top: 20px;
  cursor: default;
}

#macrocode-wrapper{
  display: inline-block; /* Ensures the wrapper only takes up as much width as necessary */
  padding: 10px; /* Optional: Add padding for better visual appearance */
  padding-right: 30px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#macrocritcode-wrapper{
  display: inline-block; /* Ensures the wrapper only takes up as much width as necessary */
  padding: 10px; /* Optional: Add padding for better visual appearance */
  padding-right: 30px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.macro-critical-code-content:hover {
  cursor: text;
}

/* Styles for the macro critical code content */
.macro-code-content {
  color: hsl(107, 100%, 50%); /* Change to your desired text color */
}

/* Styles for the macro critical code content */
.macro-critical-code-content {
  color: hsl(107, 100%, 50%); /* Change to your desired text color */
}

.notification {
  position: fixed;
  bottom: -50px;
  right: 20px;
  background-color: hsl(107, 100%, 27%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: none;
}

.notification.show {
  display: block;
  animation: jumpInOut 2s ease-in-out forwards;
}

@keyframes jumpInOut {
  0% {
    bottom: -50px;
    opacity: 0;
  }

  10% {
    bottom: 20px;
    opacity: 1;
  }

  90% {
    bottom: 20px;
    opacity: 1;
  }

  100% {
    bottom: -50px;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #settings-bar {
    flex-direction: column;
    align-items: stretch;
  }

  #search-input-wrapper,
  #category-btn,
  #clear-categories-btn {
    width: 100%;
  }

  #clear-categories-btn {
    margin-bottom: 0;
  }

  .dropdown {
    width: 100%;
  }

  #category-dropdown {
    width: 100%; /* Ensure the dropdown takes the full width of the button */
    position: relative; /* Change position to relative */
    top: 0; /* Reset top positioning */
    left: 0; /* Reset left positioning */
  }

  #category-btn.show + #category-dropdown {
    display: block;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px hsl(107, 100%, 27%);
  outline: 0 none;
}

